html,

body{
   text-align: center;
   font-size: 1.3em;
}

h1{
  position: absolute;
  top:90px;
  bottom:60px;
}

img{
  width:33%;
  height:auto;
  margin-top: 90px;
}

.row1{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
}
.row2{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
}
.row3{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
}
.row4{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
}
.row5{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
}
.row6{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
}
.row7{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
}
.row8{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
