html,
body{
  font-size: 1.3em;
  text-align: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1{
  top:90px;
}

img{
  width:33%;
  height:auto;
}

.row1{
  display:flex;
  justify-content: space-around;
  margin-top: 90px;
}

.row2{
  display:flex;
  justify-content: space-around;
  margin-top: 90px;
}

.row3{
  display:flex;
  justify-content: space-around;
  margin-top: 90px;
}

.row4{
  display:flex;
  justify-content: space-around;
  margin-top: 90px;
}

.row5{
  display:flex;
  justify-content: space-around;
  margin-top: 90px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
