html,

body {
  color: white;
  font-size: 1.1em;
  text-align: center;
  animation: colorchange 30s infinite; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 30s infinite; /* Chrome and Safari */
}

@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1{
  margin-top: 300px;
}

@keyframes colorchange
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

@media only screen and (max-width:812px){
  body{
    font-size:1em;
  }

  h1{
    margin-top: 140px;
  }
}
