
/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* THE END of default helpful basic CSS to include. EDIT the stuff BELOW this line*/
/*
@font-face {
  font-family: 'Lacquer', sans-serif;
  /* src: url('./fonts/VioletSans-Regular.woff') format('woff'); */
  /* font-weight: normal;
  font-style: normal;
} */

body {
  font-family: 'Tomorrow', sans-serif;
  background-color: pink;
  color: white;
  text-align:center;
}

h1{
  font-size: 100px;
  text-shadow: 2px 2px gray;
}
/* Level 1: select all elements of type h1 */

.my-fun-class *{
  color: white;
}
/* level 11;select all elements inside of my-fun-class */

.my-fun-class {
  width: 60%;
  display: block;
  text-align: center;
  margin:auto;
  font-size: 30px;
}
/* level 6: select elements by their class. */

img{
  align-items: baseline;
  width:300px;
  height: 300px;
}

table {
  margin-left:auto;
  margin-right: auto;
}

table :nth-child(2){
  filter:blur(1px);
}
/* level 18:select the nth child element in another element */

p:nth-of-type(5){
   color:yellow;
}
/* level 21: select specific element based on its type
and order in another element */

#sun{
  position: absolute;
  top:80px;
  left:80px;
  width:200px;
  height:200px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
