html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #ffe6ff;
  color: purple;
  font-size: 1.5em;
  text-align: center;
}

h1{
  text-align: center;
  margin-top: 330px;
}
.ml{
  align-items: center;
}

video{

  width:400px;
  height:400px;
}

.darkmode-layer, .darkmode-toggle {
  z-index: 500;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
